<div class="container" *ngIf="posts">
  <div
    *ngFor="let post of posts"
    class="card"
    style="max-width: 500px; margin: 30px auto"
  >
    <img [src]="post.featureImageUrl" class="card-img-top" alt="..." />
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <br />
      <article class="card-text" [innerHTML]="post.content">
        {{ post.content }}
      </article>
      <br />
      <a class="btn btn-primary" [routerLink]="['/post', post.id]"
        >View blog post</a
      >
    </div>
  </div>
</div>
